h2 {
    font-size: 1.5em;
    background: linear-gradient(to right, #458bc5, #76a1cf);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.tablevac {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
}
.thvac, .tdvac {
    border: 1px solid black;
    padding: 10px;
}
.thvac {
    background-color: #888;
    color: #000;
}
.zone-a { background-color: #f9e6b3; }
.zone-b { background-color: #cce5ff; }
.zone-c { background-color: #e6f4c7; }
.category { background-color: #f2f2f2; font-weight: bold; text-align: left; }

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
th {
    background-color: lightgray;
}
img {
    width: 50px;
    cursor: pointer;
}